---
import { getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"

const allBlogPosts = await getCollection("blog")
---

<MainLayout>
  <>
    <p>Blog Posts</p>
    {
      allBlogPosts.map((post) => {
        return (
          <div>
            <h1>{post.data.title}</h1>
            <p>{post.data.description}</p>
          </div>
        )
      })
    }
  </>
</MainLayout>
