---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
  <h1>Adrian Burkhart</h1>
  <p>Fullstack Developer</p>
  <p>Check out some of my projects <a href={"./projects"}>here</a>.</p>
</MainLayout>
