---
import { getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"

const allProjects = await getCollection("projects")
---

<MainLayout>
  <>
    <p>Projects</p>
    {
      allProjects.map((project) => {
        return (
          <div>
            <h1>{project.data.title}</h1>
            <p>{project.data.description}</p>
          </div>
        )
      })
    }
  </>
</MainLayout>
