---
import { getCollection } from "astro:content"
import MainLayout from "../../layouts/MainLayout.astro"

const allProjects = await getCollection("projects")
---

<MainLayout>
  <>
    <h1 class="mb-12">Projects</h1>
      <div class="flex flex-col gap-4">
        {
          allProjects.map((project) => {
            return (
              <div class="flex flex-col justify-center items-center">
                <h1><a href={project.slug}>{project.data.title}</a></h1>
                <p>{project.data.shortDescription}</p>
              </div>
            )
          })
        }
      </div>
  </>
</MainLayout>
